# нам папка vendor не нужна в репозитории, там хранятся пакеты которы композер скачивает.
# мы её никогда в гите не храним потому что она занимает очень много место (иногда сотни мегабайт текста)
# достаточно сделать `composer install` чтобы получить эту папку
/vendor


# как я тебе и говорил - в репозитории нельзя коммитить информацию.
# Это означает что все папки, где должна храниться какая-либо инфа, должны быть так же удалены из репозитория
/data